NEXT_PUBLIC_DISCORD_WEBHOOK_USER=
NEXT_PUBLIC_DISCORD_WEBHOOK_TUGAS=
NEXT_PUBLIC_DISCORD_WEBHOOK_TRANSAKSI=
NEXT_PUBLIC_DISCORD_WEBHOOK_KESEHATAN=
NEXT_PUBLIC_DISCORD_WEBHOOK_KESEHARIAN=
NEXT_PUBLIC_DISCORD_WEBHOOK_SETTINGS=
